extends ../common/common
block title 
  | 商家修改
block main
  .mws-panel.grid_8
    .mws-panel-header
      span
        font(style='vertical-align: inherit;') 商家修改
    .mws-panel-body.no-padding
      //- 文件上传需要包含entype属性
      form.mws-form(action='/shopeditsubmit' method="post" enctype="multipart/form-data")
        .mws-form-inline
          .mws-form-row(style="padding-bottom:9px;")
            label.mws-form-label
              font(style='vertical-align: inherit;') 商家名称
            .mws-form-item
              input.large(type='text' name="name" value="#{data.name}")
          .mws-form-row(style="padding-bottom:9px;")
            label.mws-form-label
              font(style='vertical-align: inherit;') 图片
            .mws-form-item
              input.large(type='image' src="https://delivery-yolo.oss-cn-beijing.aliyuncs.com/#{data.pic}" style="width:100px;")
          .mws-form-row(style="padding-top:9px;padding-bottom:9px;")
            label.mws-form-label
              font(style='vertical-align: inherit;') 图片
            .mws-form-item
              input.large(type='file' name="pic")
          .mws-form-row(style="padding-top:9px;padding-bottom:9px;")
            label.mws-form-label
              font(style='vertical-align: inherit;') 描述
            .mws-form-item
              input.large(type='text' name="descs" value="#{data.descs}")
          .mws-form-row(style="padding-top:9px;")
            label.mws-form-label
              font(style='vertical-align: inherit;') 配送费
            .mws-form-item
              input.large(type='text' name="fee" value="#{data.fee}")
        .mws-button-row
          input(type="hidden" name="id" value="#{data.id}")
          input.btn.btn-danger(type='submit' value='修改' class="btn btn-success")
          input.btn(type='reset' value='重置' class="btn btn-default")
